.header-label {
    -fx-text-fill: #853f85;
    -fx-font-size: 18px;
    -fx-font-weight: BOLD;
}

#dare-cb {
    -fx-background-color: YELLOW;
}

#dare-cb.check-box:determinate .box .mark {
    -fx-opacity: 0.2;
}